.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template:
    "h h h h" auto
    "a a a a" auto
    "b b b b" auto
    "c c d d" auto
    "e e e e" auto
    "f f f f" auto;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
}
header{
    grid-area: h;
    background-color: white;
    overflow: hidden;
}
nav a{
    color: #0065FC;
    text-decoration: none;
    float: right;
    padding: 15px 10px;
}
#activ {
    color:black;
}
#logo img{
    width: 80px;
}
#logo {
    float:left;
}

#A {
    background-color: white;
    grid-area: a;
    font-size: 12;
}
h3 {
    margin-bottom:5px;
}
p {
    margin: 0px;
    padding-bottom: 10px;
}
.search {
    align-content: center;
    padding-top:10px;
}
.searchIcon {
    float: left;
    background-color: rgb(226, 221, 221);
    padding: 11px 10px 10px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.searchInput {
    float:left;
}
.searchInput input{
    font-size:16px;
    width: 180px;
    height: 36px;
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey ;
    border-left: none;
    border-right: none;
}
.searchBtn {
    float: left;
    border-style: none;
}
.searchBtn [value="Search"] {
    background-color: #0065FC;
    color: white;
    height: 40px;
    margin: 0px;
    border: none;
    font-size:15px;
    border-radius: 0px 10px 10px 0px; 
    width: 70px;
}


#B {
    background-color: white;
    grid-area: b;
}
.filters{
    border: none;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}
.filters ul{
    display:flex;
    border: none;
    flex-wrap: wrap;
    padding-left: 0px;
}

.filters ul li {
    height: inherit;
    border: 1px solid  lightgrey;
    list-style-type: none;
    width: 130px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 45px;
    border-left:0px;
    padding-right: 10px;
    font-weight: 700;
}
.filters ul li i{
    background-color: #DEEBFF;
    height: inherit;
    border-radius: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items:center ;
    color:#0065FC;
    font-size: 17px;
}
.filters ul li:first-child{
    border: none;
    width: 70px;
    padding-left: 0px;
    margin-left: 0px;
    font-weight: 700;
}
.filters ul li:nth-child(2){
    width: 105px;
    margin-left: 0;
}
.filters ul li:nth-child(2):hover{
    background-color:#DEEBFF;
}
.filters ul li:nth-child(3){
    width: 140px;
}
.filters ul li:nth-child(3):hover{
    background-color:#DEEBFF;
}
.filters ul li:nth-child(4){
    width: 110px;
}
.filters ul li:nth-child(4):hover{
    background-color:#DEEBFF;
}
.filters ul li:nth-child(5):hover{
    background-color: #DEEBFF;
}
.info{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-flow: row;
}
.info i{
    margin-right: 8px;
    background-color: white;
    color: #0065FC;
    border:1px solid lightgrey;
    border-radius: 45px;
    align-items: flex-start;
    padding-left: 5px;
    padding-right: 5px;
    height: 14px;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.sectioncd {
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 0px;
}
#C {
    grid-area: c;
    display:flex;
    flex-wrap: wrap;
    min-height: 500px;
    flex: 2 1 280px;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
    background-color: lightgray;
    border-radius: 1rem;
}
.cdescription{
    display:flex;
    align-items:flex-start;
    width: 100%;
    height: 20px;
    padding:0px 0px 0px 40px;
    margin: 0;
    font-weight: 700;
}
.imgacc {
    height: 200px;
    width: 250px;
    background-color: white;
    border-radius: 1rem;
}
.imgacc .imag {
    height: 65%;
    width: 95%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1rem;
}
.imgacc img {
    width: 239px;
    height: 130px;
    border-radius: 1rem 1rem 0 0;
}
.description {
    height: 30%;
    margin: 5px;
    margin: 0;
}
.showmorec{
    display:flex;
    align-items:flex-end;
    width: 100%;
    height: 20px;
    padding:20px 0 20px 40px;
    margin: 0;
    font-weight: 700;
}

#D {
    background-color: rgb(229, 226, 226);
    grid-area: d;
    display: flex;
    min-height: 500px;
    flex: 1 1 280px;
    margin-left: 30px;
    border-radius: 1rem;
    flex-direction: column;
}
.chestie {
    margin: 30px auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 160px;
    border-radius: .9em;
    padding: 5px;
    background-color: white;

    display: flex;
}
.titlemp {
    display: flex;
    align-items: flex-start;
    height: 20px;
    padding:20px 0px 20px 40px;
    margin: 0;
    font-weight: 700; 

}
.imgd {
    width: 150px;
    height: inherit;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 1rem 0 0 1rem; 
    margin-right: 10px;
}
.imgd img {
    width: 150px;
    height: inherit;
    border-radius: 1rem 0 0 1rem;

}
#E {
    background-color: #0065FC;
    grid-area:e;
}

#F {
    background-color: aqua;
    grid-area: f;
}


@media only screen and (max-width: 650px) {
    #D {
        margin-bottom: 30px;
        margin-left: 0px;
    }
  }